.App {
  width: 1024px;
  margin: 0 auto;
  min-height:100%;
}

.container{
  display: flex;
  margin-top: 25px;
  height: 800px;
}

.boxes{
  border: 3px solid black;
  border-radius: 3px;
  
}

.country-info{
  width: 75%;
  position: relative;
}

.country-list{
  width: 25%;
  overflow-y: scroll;
}

